p {
  font-family: Lato;
}

h1 {
  transition: color 0.2s;
}
h1 :leave {
  transition: display 4s;
}
.header {
  margin-top: 100px;
}
.center {
  justify-content: center;
  display: flex;
  justify-items: center;
}
.inline {
  display: flex;
  justify-content: space-around;
}
